<!DOCTYPE HTML>
<html>
    <head>
        <title>PyDinah</title>
        <link rel="icon" type="image/x-icon" href="static/website/img/favicon.ico" />
            <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />
            <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.collapsible {
  background-color: #abb0ab;
  color: black;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: solid;
  border-radius: .25rem;
  text-align: left;
  outline: none;
  line-height: 1.5;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #828582;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}
</style>     
            
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #000000">
            <div class="container px-5">
                <a class="navbar-brand" href="#!"><img id="logo" class="img-responsive" src="../static/website/img/logo-dark.png" alt="logo"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="/prediction">Previsão</a></li>
                        <li class="nav-item"><a class="nav-link" href="#team">Sobre Nós</a></li>
                        <li class="nav-item"><a class="nav-link" href="#!">Contato</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <header class="bg-dark py-5" style="background-image: url('../static/website/img/bgpy.jpg')">
            <div class="container px-5">
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-6">
                        <div class="text-center my-5">
                            <h1 class="display-5 fw-bolder text-white mb-2">Nós prevemos o futuro dos preços</h1>
                            <p class="lead text-white-50 mb-4">Ensinamos de uma forma prática e rápida a entender o mercado de capitais e também prevemos o futuro dos preços dos ativos!</p>
                            <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                                <a class="btn btn-success btn-lg px-4 me-sm-3" href="#features">Entrar pro Clube</a>
                                <a class="btn btn-danger btn-lg px-4" href="#!">Saiba Mais</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <section class="py-5 border-bottom" id="features">
            <div class="container px-5 my-5">
                <div class="row gx-5">
                    <div class="col-lg-4 mb-5 mb-lg-0">
                    <img class="mx-auto rounded-circle" src="../static/website/img/neural.jpg" alt="..." />
                          <h2 class="h4 fw-bolder">Rede Neural Profunda</h2>
                        <p>Previsão de preços de ativos através de Tecnologia Avançada.</p>
                        <a class="text-decoration-none" href="#!">
                            Saiba Mais
                            <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <img class="mx-auto rounded-circle" src="../static/website/img/hero.jpg" alt="..." />
                        <h2 class="h4 fw-bolder">From Zero to Hero</h2>
                        <p>Aprenda do ZERO como investir seu dinheiro de forma autônoma. através do celular ou notebook</p>
                        <a class="text-decoration-none" href="#!">
                            Saiba Mais
                            <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                    <div class="col-lg-4">
                        <img class="mx-auto rounded-circle" src="../static/website/img/ez.jpg" alt="..." />
                        <h2 class="h4 fw-bolder">Formato Simples e Rápido</h2>
                        <p>Metodologia prática para aprender de forma rápida como funciona o mercado de capitais.</p>
                        <a class="text-decoration-none" href="#!">
                            Saiba Mais
                            <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <!-- Pricing section-->
        <section class="bg-light py-5 border-bottom">
            <div class="container px-5 my-5">
                <div class="text-center mb-5">
                    <h2 class="fw-bolder">Nosso Plano</h2>
                    <p class="lead mb-0">Nosso Plano Inaugural cabe no seu bolso</p>
                </div>
                <div class="row gx-5 justify-content-center">
                    <!-- Pricing card pro-->
                    <div class="col-lg-6 col-xl-4">
                        <div class="card mb-5 mb-xl-0">
                            <div class="card-body p-5">
                                <div class="small text-uppercase fw-bold">
                                    <i class="bi bi-star-fill text-warning"></i>
                                    ZERO TO HERO
                                </div>
                                <div class="mb-3">
                                    <span class="display-4 fw-bold">R$27</span>
                                    <span class="text-muted">/Mês</span>
                                </div>
                                <ul class="list-unstyled mb-4">
                                    <li class="mb-2">
                                        <i class="bi bi-check text-primary"></i>
                                        <strong>Previsões dos ativos com Machine Learning</strong>
                                    </li>
                                    <li class="mb-2">
                                        <i class="bi bi-check text-primary"></i>
                                        Tutorial know-how prático
                                    </li>
                                    <li class="mb-2">
                                        <i class="bi bi-check text-primary"></i>
                                        Grupo VIP WhatsApp
                                    </li>
                                    <li class="mb-2">
                                        <i class="bi bi-check text-primary"></i>
                                        Acesso a Lives
                                    </li>
                                    <li class="mb-2">
                                        <i class="bi bi-check text-primary"></i>
                                        Acesso aos Principais indicadores mt4 e mt5
                                    </li>
                                    <li class="mb-2">
                                        <i class="bi bi-check text-primary"></i>
                                        Acesso a Robô de estratégias
                                    </li>
                                    <li class="mb-2">
                                        <i class="bi bi-check text-primary"></i>
                                        Pedidos de Análise Gráfica de ativos
                                    </li>
                                </ul>
                                <div class="d-grid"><a class="btn btn-danger" href="#!">Entrar pro Clube</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- perguntas frequentes-->
        <section class="py-5 border-bottom">
            <div class="container px-5 my-5 px-5">
                <div class="text-center mb-5">
                    <h2 class="fw-bolder">Perguntas Frequentes</h2>
                    <p class="lead mb-0">O que os clientes estão perguntado</p>
                </div>
                <div class="row gx-5 justify-content-center">
                    <div id="accordion">
                        <button type="button" class="collapsible"><strong>Eu não entendo nada de investimento esse clube pydinah é pra mim ?</strong></button>
<div class="content">
  <p>Nosso clube conta com tutoriais rápidos e práticos para você aprender de forma autonoma como investir seu dinheiro. Conhecer as melhores práticas e as novidades do mercado financeiro .</p>
</div>
<button type="button" class="collapsible"><strong>Quais os tipos de mercados que eu vou conhecer?</strong></button>
<div class="content">
  <p>Nosso programa de aprendizado aborda os principais tipos de mercado financeiro como: Mercado de Moeda(Forex), Mercado Brasileiro(B3) e o mercado de CriptoMoedas.</p>
</div>
<button type="button" class="collapsible"><strong>Posso fazer tudo pelo celular ?</strong></button>
<div class="content">
  <p>Você vai aprender a comprar e vender pelo celular e também a utilizar plataformas profissionais pelo PC.</p>
</div>
<button type="button" class="collapsible"><strong>pergunta 4</strong></button>
<div class="content">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>

<script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
}
</script>
                    </div>
                </div>
            </div>
        </section>
        <section class="bg-light py-5 border-bottom"id="team">
            <div class="container px-5 my-5">
                <div class="text-center mb-5">
                    <h2 class="fw-bolder">Sobre Nós</h2>
                    <h3 class="lead mb-0">Dupla de dois.</h3>
                </div>
                <div class="row">
                    <div class="col-lg-4 mx-auto text-center">
                        <div class="team-member">
                            <img class="mx-auto rounded-circle" src="../static/website/img/daniel.jpg" alt="..." />
                            <h4>Daniel Vasconcelos</h4>
                            <p class="text-muted">Analista Gráfico e Cientista de Dados</p>
                            <a class="btn btn-dark btn-social mx-2" href="#!"><i class="bi bi-twitter"></i></a>
                            <a class="btn btn-dark btn-social mx-2" href="#!"><i class="bi bi-facebook"></i></a>
                            <a class="btn btn-dark btn-social mx-2" href="#!"><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-8 mx-auto text-center">
                        <div class="team-member">
                            <img class="mx-auto rounded-circle" src="static/website/img/leo.jpg" alt="..." />
                            <h4>Leonardo Rivera</h4>
                            <p class="text-muted">Engenheiro de Telecomunicações e Cientista de dados</p>
                            <a class="btn btn-dark btn-social mx-2" href="#!"><i class="bi bi-twitter"></i></a>
                            <a class="btn btn-dark btn-social mx-2" href="#!"><i class="bi bi-facebook"></i></a>
                            <a class="btn btn-dark btn-social mx-2" href="#!"><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                </div>
                <div class="row">
                <p>
                    <div class="col-lg-8 mx-auto text-center"><p class="large text-muted">Com o intuito de diseminar a informação referente ao mercado financeiro criamos um clube chamado PyDinah. Onde abordaremos as principais formas de investir seu dinheiro de forma autonoma e segura através de Algoritmos de Redes Neurais Profundas.</p></div>
                </div>
            </div>
        </section>
        <!-- Contact section-->
        <section class="bg-light py-5" id="contato">
            <div class="container px-5 my-5 px-5">
                <div class="text-center mb-5">
                    <h2 class="fw-bolder">Entre no nosso grupo do telegram</h2>
                    <img class="mx-auto rounded-circle" src="../static/website/img/telegram.png" alt="..." />
                    <h2 class="fw-bolder">Entre em contato</h2>
                    <p class="lead mb-0">Adorariamos ouvir você</p>
                </div>
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-6">
                        <!-- * * * * * * * * * * * * * * *-->
                        <!-- * * SB Forms Contact Form * *-->
                        <!-- * * * * * * * * * * * * * * *-->
                        <!-- This form is pre-integrated with SB Forms.-->
                        <!-- To make this form functional, sign up at-->
                        <!-- https://startbootstrap.com/solution/contact-forms-->
                        <!-- to get an API token!-->
                        <form id="contactForm" data-sb-form-api-token="API_TOKEN">
                            <!-- Name input-->
                            <div class="form-floating mb-3">
                                <input class="form-control" id="name" type="text" placeholder="Enter your name..." data-sb-validations="required" />
                                <label for="name">Digite seu Nome</label>
                                <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
                            </div>
                            <!-- Email address input-->
                            <div class="form-floating mb-3">
                                <input class="form-control" id="email" type="email" placeholder="name@example.com" data-sb-validations="required,email" />
                                <label for="email">Digite seu E-Mail</label>
                                <div class="invalid-feedback" data-sb-feedback="email:required">An email is required.</div>
                                <div class="invalid-feedback" data-sb-feedback="email:email">Email is not valid.</div>
                            </div>
                            <!-- Phone number input-->
                            <div class="form-floating mb-3">
                                <input class="form-control" id="phone" type="tel" placeholder="(123) 456-7890" data-sb-validations="required" />
                                <label for="phone">Digite Seu Telefone</label>
                                <div class="invalid-feedback" data-sb-feedback="phone:required">A phone number is required.</div>
                            </div>
                            <!-- Message input-->
                            <div class="form-floating mb-3">
                                <textarea class="form-control" id="message" type="text" placeholder="Enter your message here..." style="height: 10rem" data-sb-validations="required"></textarea>
                                <label for="message">Digite sua Mensagem</label>
                                <div class="invalid-feedback" data-sb-feedback="message:required">A message is required.</div>
                            </div>
                            <!-- Submit success message-->
                            <!---->
                            <!-- This is what your users will see when the form-->
                            <!-- has successfully submitted-->
                            <div class="d-none" id="submitSuccessMessage">
                                <div class="text-center mb-3">
                                    <div class="fw-bolder">Form submission successful!</div>
                                    To activate this form, sign up at
                                    <br />
                                    <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                                </div>
                            </div>
                            <!-- Submit error message-->
                            <!---->
                            <!-- This is what your users will see when there is-->
                            <!-- an error submitting the form-->
                            <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
                            <!-- Submit Button-->
                            <div class="d-grid"><button class="btn btn-danger btn-lg disabled" id="submitButton" type="submit">Enviar</button></div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

        <!-- Footer-->
        <footer class="py-5" style="background-color: #000000">
            <div class="container px-5"><p class="m-0 text-center text-white">Copyright &copy; PyDinah - From Zero to Hero 2021</p></div>
        </footer>
</html>