.collapsible {
    background-color: #abb0ab;
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: solid;
    border-radius: .25rem;
    text-align: left;
    outline: none;
    line-height: 1.5;
    font-size: 15px;
  }
  
  .active, .collapsible:hover {
    background-color: #828582;
  }
  
  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
  }